@charset "utf-8";
/* 初始化 */
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
/* 禁用iPhone中Safari的字号自动调整  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 解决IOS默认滑动很卡的情况 */
  /* -webkit-overflow-scrolling : touch;  */
}
/* 设置HTML5元素为块 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
body {
  font: 12px/1.5 'Microsoft YaHei', '宋体', Tahoma, Arial, sans-serif;
  color: black;
  background-color: #F7F7F7;
}
/*去除边框*/
fieldset,
img,
input,
button,
textarea {
  border: none;
  /*去除的蓝色小边框*/
  outline-style: none;
}
/*禁止表单域缩放*/
textarea {
  resize: none;
}
/* 禁止缩放表单 */
input[type="submit"],
input[type="reset"],
input[type="button"],
input {
  resize: none;
  border: none;
}
/* 取消链接高亮  */
a {
  text-decoration: none;
  color: black;
  /* 取消链接高亮  */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'Microsoft YaHei', Tahoma, Arial, sans-serif;
}
a:hover {
  text-decoration: none;
}
/* 图片自适应 */
img {
  width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */
  /*解决图片底部对其问题*/
  display: block;
  border: none;
  -ms-interpolation-mode: bicubic;
  /*为了照顾ie图片缩放失真*/
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%;
}
em,
i {
  font-style: normal;
}
ul,
li,
ol {
  list-style-type: none;
}
strong {
  font-weight: normal;
}
/*单行溢出*/
/*多行溢出 手机端使用*/
/* 水平垂直居中的公共类 */
/* 水平居中公共类 */
/* 垂直居中公共类 */
html,
body {
  /*大容器*/
}
html .sn-container,
body .sn-container {
  max-width: 750px;
  min-width: 320px;
  height: 1000px;
  margin: 0 auto;
  background-color: pink;
  position: relative;
}
.bgc {
  background: #ff841d;
}
.bgcolor {
  background: #f1f1f1;
}
.container {
  max-width: 750px /* 750/50 */;
  min-width: 320px /* 320/50 */;
  margin: 0 auto;
  background: #f1f1f1;
}
/*切换显示隐藏类*/
.dp {
  display: none;
}
.boxborderbottom {
  border-bottom: 2px solid #f4483e;
}
/*大图和标题*/
.bj-info {
  background-color: white;
}
.bj-info > .bj-info-title {
  height: 180px;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  box-sizing: border-box;
}
.bj-info > .bj-info-img {
  position: relative;
  height: 190px;
  padding-bottom: 20px;
  box-sizing: border-box;
}
.bj-info > .bj-info-img > a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.bj-info > .bj-info-img > a > img {
  width: 170px;
  height: 170px;
  margin: 0 auto;
}
.bj-info .product-collect {
  position: absolute;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  right: 20px;
  bottom: 20px;
}
.bj-info .product-collect > a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.bj-info .product-collect > img {
  width: 100%;
  height: 100%;
}
.bj-info .p_pic {
  width: 40px;
  padding-top: 5px;
}
.bj-info .p_pic a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.bj-info .p_pic a > img {
  width: 16px;
  height: 16px;
  margin-left: 20px;
}
.bj-info .red {
  float: right;
  padding-top: 2px;
  margin-right: 10px;
  color: #d10311;
  text-align: right;
  font-size: 16px;
}
/*比价购买，产品参数，评价*/
/*价格，店铺*/
.price-shop {
  height: 50px;
  background-color: white;
  border-bottom: 1px solid #ccc;
}
.price-shop > div {
  line-height: 50px;
  font-size: 14px;
}
.price-shop > .shop-tubiao {
  height: 50px;
  float: left;
  width: 32px;
}
.price-shop > .shop-tubiao > a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.price-shop > .shop-tubiao > a > img {
  margin: 17px auto;
  width: 16px;
  height: 16px;
}
.price-shop > .shop-nameprice {
  margin-left: 32px;
  margin-right: 60px;
}
.price-shop > .shop-nameprice > .shop-name {
  float: left;
  width: 50%;
  font-size: 16px;
}
.price-shop > .shop-nameprice > .sales-price {
  float: right;
  width: 50%;
  text-align: right;
  padding-right: 20px;
  box-sizing: border-box;
  color: #d10311;
  font-size: 16px;
}
.price-shop > .go-shopping {
  width: 60px;
  float: right;
}
.price-shop > .go-shopping > button {
  width: 56px;
  height: 24px;
  line-height: 24px;
  background-color: #ff5500;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
}
/*注意事项*/
.note {
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  line-height: 20px;
  color: #888;
}
/*网友评价*/
.wangyoupingjia {
  height: 34px;
  border-top: 4px solid #7a7a7a;
  background-color: #dbdbdb;
  text-align: center;
  line-height: 34px;
  font-size: 14px;
}
/*评价具体内容*/
.pingjia-container {
  background-color: white;
}
.pingjia-container > .pingjia {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.pingjia-container > .pingjia > .pingjia-once-info {
  zoom: 1;
  color: #666;
}
.pingjia-container > .pingjia > .pingjia-once-info:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
.pingjia-container > .pingjia > .pingjia-once-info .shoujihao {
  float: left;
}
.pingjia-container > .pingjia > .pingjia-once-info .pingjia-time {
  float: right;
}
.pingjia-container > .pingjia .come-form {
  zoom: 1;
  color: #666;
}
.pingjia-container > .pingjia .come-form:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
.pingjia-container > .pingjia .come-form span {
  float: right;
}
